cite::before {content: "~";}
div.note {
    border-radius: 5px;
    background-color: aquamarine;
    max-width: fit-content;
    color: #000000 !important;
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
}