/* You can add global styles to this file, and also import other style files */
.outer {
    background-color: rgb(65, 66, 68);
    min-width: 100vh;
    min-height: 100vh;
    margin: 0px;
    border: 0px;
    text-align: center;
    color: white;
}